      <div class="datepickerdemo"  layout="column" ng-cloak>
      
     <form name="pacienteForm" novalidate>
     
      <p>Nombre:<br>
	  <input type="text" name="nombre" ng-model="paciente.nombre" required>
	  <span style="color:red" ng-show="!paciente.nombre">
	  <span ng-show="pacienteForm.nombre.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
	  
      <p>Apellido:<br>
	  <input type="text" name="apellido" ng-model="paciente.apellido" required>
	  <span style="color:red" ng-show="!paciente.apellido">
	  <span ng-show="pacienteForm.apellido.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
	  <p>Direccion:<br>
	  <input type="text" name="direccion" ng-model="paciente.direccion" required>
	  <span style="color:red" ng-show="!paciente.direccion">
	  <span ng-show="pacienteForm.direccion.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
      
      Edad:<input type="number" ng-model="paciente.anios" name="edad" min="0" max="99" >
      
      <br />  
      <label for="pacienteObraSocial" class="ng-scope">Obra Social</label><br />
      <input name="pacienteObraSocial" type="text" ng-model="paciente.obraSocial" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <p>DNI:<br>
	  <input type="text" name="pacienteDNI" ng-model="paciente.DNI" required valid-number>
	  <span style="color:red" ng-show="!paciente.DNI">
	  <span ng-show="pacienteForm.pacienteDNI.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p> 
	       
      
         <md-content>
            <h4>Fecha Nacimiento</h4>
            <md-datepicker 
               ng-model="myDate" 
               md-placeholder="Fecha Nacimiento Paciente"></md-datepicker>
           
         </md-content>
         
         
        <br />
    	
    	<input class="btn btn-primary" type="submit" ng-click="agregarPerfil()" value="Guardar Paciente"
		ng-disabled="pacienteForm.apellido.$error.required ||  
		pacienteForm.nombre.$error.required ||
		pacienteForm.pacienteDNI.$error.required ||
		pacienteForm.direccion.$error.required">
           
         </form>

<!--          
         <pre>paciente = {{ paciente | json  }} </pre>
         <pre>myDate = {{ myDate | json  }} </pre>
         <pre>userRet = {{ userRet  }} </pre>
      -->     
	   </div>