	<div>
		<div modal="showModal" close="cancel()" align="left"
			style="width: 90%;  height:85%; display: block; left: 20%;">
		<form editable-form name="textBtnForm"> 
			<div class="modal-header"></div>
			<div class="modal-body" >
				<div class="panel panel-primary">
					<div class="panel-heading">Ficha Paciente Encontrado</div>
					<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
									
							
								
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>DNI</th>
											<th>Direccion</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<span  ng-show="!verInput">{{ paciente.nombre || 'empty' }}</span>
								        		<input type="text" ng-show="verInput" ng-model="paciente.nombre">
								        	</td>
											<td>
												<span ng-show="!verInput">{{ paciente.apellido || 'empty' }}</span>
												<input type="text" ng-show="verInput" ng-model="paciente.apellido">
											</td>
											<td>
												<span  ng-show="!verInput">{{ paciente.dni || 'empty' }}  </span>
												<input type="text" ng-show="verInput" ng-model="paciente.dni">
								    		</td>
											<td>  
												<span ng-show="!verInput">{{ paciente.direccion || 'empty' }}</span>
												<input type="text" ng-show="verInput" ng-model="paciente.direccion">
								     		</td>
										</tr>
										<tr>
											<td><b>Años </b></td>
											<td><b> Fecha Nacimiento</b></td>
											<td><b>Fecha Alta </b></td>
											<td><b>Observaciones</b></td>
										</tr>
										<tr>
										<td> {{paciente.anios}}</td>
										<td>
										    <span ng-show="!verInput">{{ paciente.fechaNac | date:"dd/MM/yyyy" }}</span>
											<input type="date" ng-show="verInput" ng-model="paciente.fechaNac">
											<input type="date" ng-show="verInput" ng-model="paciente.fechaNac" placeholder="yyyy-MM-dd" min="1900-01-01" max="dateHoy.start" required />
											
										</td>
										<td>
											 <span  ng-show="!verInput">{{paciente.ficha.fechaAlta | date : "dd/MM/y" }}</span>
											 <input type="date" ng-show="verInput" ng-model="paciente.fechaNac">
										</td>
										<td>
											<span  ng-show="!verInput">{{ paciente.ficha.observaciones }}</span>
     										<textarea  ng-show="verInput" rows="2" cols="30" ng-model="paciente.ficha.observaciones"></textarea>	
										</td>
											
										</tr>
									</tbody>
									<tfoot>									
									</tfoot>
								</table>
						</li>
					</ul>
				

				<div ng-repeat="cuadrante in paciente.ficha.odontograma.cuadrantes">
					<div class="col-lg-6">
						<div ng-repeat="diente in cuadrante.dientes">
							<div diente  estado="diente.idEstadoDiente" iddiente="diente.iddiente">
								{{diente.posicionCuadrante}}</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			<div class="modal-footer" style="height: 10%">
				<button type="button" class="btn btn-primary" ng-show="!verGuardar" ng-click="; verInput = true; verGuardar = true">
				     Editar
				</button>
				 <span ng-show="verGuardar">
				     <button type="submit" class="btn btn-success"   ng-click="verGuardar = false; verInput = false; updatePaciente(); ">
						Guardar
					 </button>
					 <button type="button" class="btn btn-danger"  ng-disabled="textBtnForm.$waiting" ng-click="verInput = false; verGuardar = false">
					    Cancelar
					 </button>
				 </span>
				 <button class="btn btn-primary" ng-click="cancel() ; verGuardar = false">Cerrar</button>
			</div>
		</form>
		</div>

	</div>