	<div class="modal-dialog modal-lg" >
		<div class="modal-content"  modal="showModal" close="cancel()">
		<form editable-form name="textBtnForm"> 
			<div class="modal-header popUp-header "></div>
			<div class="modal-body popUp-body" >
				<div class="panel panel-primary">
					<div class="panel-heading">Ficha Paciente Encontrado</div>
					<div class="panel-body ">
					<ul class="list-group">
						<li class="list-group-item">
									
							
								
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>DNI</th>
											<th>Direccion</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col-md-3 col-sm-3">
												<span  ng-show="!verInput">{{ paciente.nombre || 'empty' }}</span>
								        		<input class="form-control" type="text" ng-show="verInput" ng-model="paciente.nombre">
								        	</td>
											<td class="col-md-3 col-sm-3">
												<span ng-show="!verInput">{{ paciente.apellido || 'empty' }}</span>
												<input class="form-control" type="text" ng-show="verInput" ng-model="paciente.apellido">
											</td>
											<td class="col-md-3 col-sm-3">
												<span  ng-show="!verInput">{{ paciente.dni || 'empty' }}  </span>
											   <input class="form-control" type="number" ng-show="verInput" ng-model="paciente.dni"  min="1000000" max="1000000000" required>
												
								    		</td>
											<td class="col-md-3 col-sm-3">  
												<span ng-show="!verInput">{{ paciente.direccion || 'empty' }}</span>
												<input class="form-control" type="text" ng-show="verInput" ng-model="paciente.direccion">
								     		</td>
										</tr>
										<tr>
											<td class="col-md-3 col-sm-3"><b>Años </b></td>
											<td class="col-md-3 col-sm-3"><b> Fecha Nacimiento</b></td>
											<td class="col-md-3 col-sm-3"><b>Fecha Alta </b></td>
											<td class="col-md-3 col-sm-3"><b>Observaciones</b></td>
										</tr>
										<tr>
										<td class="col-md-3 col-sm-3"> {{paciente.anios}}</td>
										<td class="col-md-3 col-sm-3">
										    <span ng-show="!verInput">{{ paciente.fechaNac | date:"dd/MM/yyyy" }}</span>
									      <div ng-show="verInput">
									        <p class="input-group">
									          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"alt-input-formats="altInputFormats"  ng-change="diferencia()"    ng-model-options='{ debounce: 1000 }'
									          close-text="Cerrar"
								              current-text="Hoy"
								              clear-text="Limpiar" />
									          <span class="input-group-btn">
									            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									        </p>
									      </div>
											
										</td>
										<td  class="col-md-3 col-sm-3">
											 <span  ng-show="!verInput">{{paciente.ficha.fechaAlta | date : "dd/MM/y" }}</span>
									      <div ng-show="verInput">
									        <p class="input-group">
									          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="paciente.ficha.fechaAlta" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar"
           										   current-text="Hoy"
              											clear-text="Limpiar"  alt-input-formats="altInputFormats" />
									          <span class="input-group-btn">
									            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
									          </span>
									        </p>
									      </div>

										</td>
										<td  class="col-md-3 col-sm-3">
											<span  ng-show="!verInput">{{ paciente.ficha.observaciones }}</span>
     										<textarea class="form-control"  ng-show="verInput"  ng-model="paciente.ficha.observaciones"></textarea>	
										</td>
											
										</tr>
									</tbody>
									<tfoot>									
									</tfoot>
								</table>
						</li>
					</ul>
				

				<div class="" ng-repeat="cuadrante in paciente.ficha.odontograma.cuadrantes">
					<div class="col-md-6 col-sm-6 ">
						<div ng-repeat="diente in cuadrante.dientes"  ng-attr-title="{{titulo(diente.idEstadoDiente)}}">
							<div diente  estado="diente.idEstadoDiente" iddiente="diente.iddiente">
								{{diente.posicionCuadrante}}</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			<div class="modal-footer popUp-footer">
				<button type="button" class="btn btn-primary" ng-show="!verGuardar" ng-click="; verInput = true; verGuardar = true">
				     Editar
				</button>
				 <span ng-show="verGuardar">
				     <button type="submit" class="btn btn-success"   ng-click="verGuardar = false; verInput = false; updatePaciente(); ">
						Guardar
					 </button>
					 <button type="button" class="btn btn-danger"  ng-disabled="textBtnForm.$waiting" ng-click="verInput = false; verGuardar = false; cancel()">
					    Cancelar
					 </button>
				 </span>
				 <button class="btn btn-primary" ng-click="cancel() ; verGuardar = false">Cerrar</button>
			</div>
		</form>
		</div>

	</div>