	<div>
		<div modal="showModal" close="cancel()" align="left"
			style="width: 90%;  height:85%; display: block; left: 20%;">
			<div class="modal-header"></div>
			<div class="modal-body" >
				<div class="panel panel-primary">
					<div class="panel-heading">Ficha Paciente Encontrado</div>
					<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
									
								<form editable-form name="textBtnForm" action="#"> 
								
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>DNI</th>
											<th>Direccion</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span editable-text="paciente.nombre">
								        			{{ paciente.nombre || 'empty' }}</span></td>
											<td><span editable-text="paciente.apellido">
								        			{{ paciente.apellido || 'empty' }}</span></td>
											<td><span editable-text="paciente.dni">
								       				 {{ paciente.dni || 'empty' }}
								   			  </span>
								    		</td>
											<td>  <span editable-text="paciente.direccion">
								        			{{ paciente.direccion || 'empty' }}
								    			</span>
								     		</td>
										</tr>
										<tr>
											<td>  <b> Fecha Nacimiento  </b></td>
											<td><b>Fecha Alta </b></td>
											<td><b>Observaciones</b></td>
										</tr>
										<tr>
										<td>
										 <span   editable-bsdate="paciente.fechaNac"   e-is-open="opened.$data" e-ng-click="open($event,'$data')"  e-datepicker-popup="dd/MM/yyyy">
								            {{ (paciente.fechaNac | date:"dd/MM/yyyy") || 'empty' }}
								          </span>
										</td>
										<td>
										 <span   editable-bsdate="paciente.ficha.fechaAlta"  e-is-open="openedAlta.$data" e-ng-click="openAlta($event,'$data')"  e-datepicker-popup="dd/MM/yyyy">
											{{(paciente.ficha.fechaAlta | date : "dd/MM/y" ) || 'empty' }}
									    </span>
										</td>
										
											<td><span  editable-textarea="paciente.ficha.observaciones" e-rows="2" e-cols="40">
								        {{ paciente.ficha.observaciones || 'empty' }}
								    </span></td>
										</tr>
									</tbody>
									<tfoot>
									<button type="button" class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
								        edit
								    </button>
								    <span ng-show="textBtnForm.$visible">
								        <button type="submit" class="btn btn-primary" ng-disabled="textBtnForm.$waiting">
								         ok
								        </button>
								        <button type="button" class="btn btn-default" ng-disabled="textBtnForm.$waiting" ng-click="textBtnForm.$cancel()">
								          Cancel
								        </button>
								    </span>
									
									</tfoot>
								</table>
									
							</form>
							   															
						</li>
					</ul>
				

				<div ng-repeat="cuadrante in paciente.ficha.odontograma.cuadrantes">
					<div class="col-lg-6">
						<div ng-repeat="diente in cuadrante.dientes">
							<div diente  estado="diente.idEstadoDiente" iddiente="diente.iddiente">
								{{diente.posicionCuadrante}}</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			<div class="modal-footer" style="height: 10%">
				<button class="btn btn-success" ng-click="updatePaciente()">Guardar</button>
				<button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
				<button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
			</div>
		</div>

	</div>