<label><h3>Historias Clinicas</h3></label>

<div>
		
	
	<form name="bsqPaciente"  ui-keypress="{13:'buscarPorNombre()'}" novalidate>
	<div class="form-group">
	<label>Ingresar Nombre, Apellido o Numero de Documento:</label> 
		 <input type="text" class="form-control" style="height:30px;font-size:14pt;"    height="5px" ng-model="nombreBsqd">
		<br>	
		<button class="btn btn-primary" ng-click=" ((nombreBsqd == null) || (nombreBsqd == '')) ?  buscarTopDiez() : buscarPorNombre();"   ui-keypress="{13:((nombreBsqd == null) || (nombreBsqd == '')) ?  buscarTopDiez() : buscarPorNombre();}">Buscar</button>
	</div>
		</form>
	

	<!-- TABLA DE PACIENTES -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.nombre}}</td>
				<td>{{row.apellido}}</td>
				<td>{{row.dni}}</td>
				<td> <a ng-href="#/historias/ficha/{{row.dni}}">ver Ficha</a> </td>

			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<!-- 	TABLA DE PACIENTES -->
	<br>
</div>