<label><h3>Historias Clinicas</h3></label>

<div>
	<div>
		<label>Ingresar Nombre, Apellido o Numero de Documento: <input
			type="text" class="form-control" ng-model="nombreBsqd" required>
			<button class="btn btn-primary" ng-click="buscarPorNombre()"
				ng-disable="nombreBsqd == null">Buscar</button>
		</label>
	</div>

	<!-- TABLA DE PACIENTES -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.nombre}}</td>
				<td>{{row.apellido}}</td>
				<td>{{row.dni}}</td>
				<td><button ng-click="verFicha(row.dni)">ver Ficha</button></td>
			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<!-- 	TABLA DE PACIENTES -->
	<br>



	<div>
		<div modal="showModal" close="cancel()" align="left"
			style="width: 90%; display: block; left: 25%;">
			<div class="modal-header"></div>
			<div class="modal-body">


				<div class="panel panel-primary">
					<div class="panel-heading">Ficha Paciente Encontrado</div>
					<div class="panel-body"></div>
					<ul class="list-group">
						<li class="list-group-item"><b>Nombre:</b>
							{{paciente.nombre}}</li>
						<li class="list-group-item"><b>Apellido:</b>
							{{paciente.apellido}}</li>
						<li class="list-group-item"><b>DNI:</b> {{paciente.dni}}</li>
						<li class="list-group-item"><b>Direccion:</b> {{
							paciente.direccion}}</li>
						<li class="list-group-item"><b>Fecha Nacimiento:</b> {{
							paciente.fechaNac | date : 'dd/MM/y'}}</li>
						<li class="list-group-item"><b>Alta:</b> {{
							paciente.ficha.fechaAlta | date : "dd/MM/y" }}</li>
						<li class="list-group-item"><b>Observaciones:</b> {{
							paciente.ficha.observaciones }}</li>


					</ul>
				</div>

				<div class=""
					ng-repeat="cuadrante in paciente.ficha.odontograma.cuadrantes">
					<div style="float: left" class="col-sm-5">
						<div ng-repeat="diente in cuadrante.dientes">
							<div diente data-estado="{{diente.idEstadoDiente}}"
								data-posicion="{{diente.posicionCuadrante}}"
								data-iddiente="{{diente.iddiente}}"
								data-idcuadrante="{{cuadrante.idTipoCuadrante}}"></div>

						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="height: 5%">
				<button class="btn btn-success" ng-click="cancel()">Cerrar</button>
			</div>
		</div>

	</div>

	<div id="my-icon-select"></div>
	<input type="text" id="selected-text" name="selected-text"
		style="width: 65px;">

</div>