<label><h3>Historias Clinicas</h3></label>

<div>
		<form name="testBoton"  ui-keypress="{13:'buscarPorNombre()'}" novalidate>
	<div>
		<label>Ingresar Nombre, Apellido o Numero de Documento: <input
			type="text" class="form-control" ng-model="nombreBsqd" required>
			<button class="btn btn-primary" ng-click="buscarPorNombre()"
				ng-disable="nombreBsqd == null">Buscar</button>
		</label>
	</div>

	<!-- TABLA DE PACIENTES -->
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{row.nombre}}</td>
				<td>{{row.apellido}}</td>
				<td>{{row.dni}}</td>
				<td> <a ng-href="#/historias/ficha/{{row.dni}}">ver Ficha</a> </td>

			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<!-- 	TABLA DE PACIENTES -->
	<br>
</div>