 <div >
      
     <form name="obraSocialForm"  ui-keypress="{13:'agregarObraSocial()'}" novalidate>
     
     <!-- 
     
      <p>Nombre:<br>
	  <input type="text" name="nombre" ng-model="obraSocial.nombre" required>
	  <span style="color:red" ng-show="!obraSocial.nombre">
	  <span ng-show="obraSocialForm.nombre.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
	  
      <p>Codigo:<br>
	  <input type="text" name="codigo" ng-model="obraSocial.codigo" required>
	  <span style="color:red" ng-show="!obraSocial.codigo">
	  <span ng-show="obraSocialForm.codigo.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
      
    	<input type="submit" class="btn btn-primary" ng-click="agregarObraSocial()" value="Guardar Obra Social" 
    	ng-keypress="($event.charCode==13)? agregarObraSocial() : return"
		ng-disabled="obraSocialForm.codigo.$error.required ||  
		obraSocialForm.nombre.$error.required">
		
		</p></p>
 -->
 


    
 	
		
	<!-- TABLA DE Obra Social --> 
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Codigo</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="os in obrasSociales">
				<td>{{os.nombre}}</td>
				<td>{{os.codigo}}</td>
				<td> <a ng-href="#/historias/ficha/{{row.dni}}">Editar</a> </td>
				<td> 
				<input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(os.idObraSocial)"/> </td>
				

			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>

           
         </form>
         
        
	   </div>