 <div >
 <label><h3>Obras Sociales Dispobles</h3></label>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Codigo</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="obraSocial in model.obrasSociales" ng-include="getTemplate(obraSocial)">
            </tr>
        </tbody>
    </table>
    
    <script type="text/ng-template" id="display">
        <td>{{obraSocial.nombre}}</td>
        <td>{{obraSocial.codigo}}</td>
        <td>
            <button ng-click="editobraSocial(obraSocial)">Edit</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="model.selected.nombre" /></td>
        <td><input type="text" ng-model="model.selected.codigo" /></td>
        <td>
            <button ng-click="updatearOS($index)">Actualizar</button>
			<button ng-click="eliminarOS($index)">Eliminar</button>
            <button ng-click="reset()">Cancel</button>
        </td>
    </script>
    </p>
    
    
    <label><h3>Agregar una nueva obra social</h3></label>
    
    <form name="obraSocialForm" novalidate>
    	
      <p>Nombre:<br>
	  <input type="text" name="nombre" ng-model="obraSocial.nombre" required>
	  <span style="color:red" ng-show="!obraSocial.nombre">
	  <span ng-show="obraSocialForm.nombre.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
	  
      <p>Codigo:<br>
	  <input type="text" name="codigo" ng-model="obraSocial.codigo" required>
	  <span style="color:red" ng-show="!obraSocial.codigo">
	  <span ng-show="obraSocialForm.codigo.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
      
    	<input type="submit" class="btn btn-primary" ng-click="agregarObraSocial()" value="Guardar Obra Social" 
    	ng-keypress="($event.charCode==13)? agregarObraSocial() : return"
		ng-disabled="obraSocialForm.codigo.$error.required ||  
		obraSocialForm.nombre.$error.required">
     </form> 
		</p></p>
    
</div>