 <div >
 <label><h3>Obras Sociales Disponibles</h3></label>
    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>C&oacute;digo</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="obraSocial in model.obrasSociales" ng-include="getTemplate(obraSocial)">
            </tr>
        </tbody>
    </table>
    
    <script type="text/ng-template" id="display">
        <td class="col-md-4 col-sm-4">{{obraSocial.nombre}}</td>
        <td class="col-md-4 col-sm-4">{{obraSocial.codigo}}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" ng-click="editobraSocial(obraSocial)">Editar</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td class="col-md-4 col-sm-4" ><input class="form-control" type="text" ng-model="model.selected.nombre" /></td>
        <td class="col-md-4 col-sm-4" ><input class="form-control" type="text" ng-model="model.selected.codigo" /></td>
        <td class="col-md-4 col-sm-4">
            <button type="button" class="btn btn-success btn-sm" ng-click="updatearOS($index)" ng-disabled="!model.selected.nombre || !model.selected.codigo">Actualizar</button>
			<button type="button" class="btn btn-danger btn-sm" ng-click="eliminarOS($index)">Eliminar</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="reset()">Cancel</button>
        </td>
    </script>
    </p>
    
    
    <label><h3>Agregar una nueva obra social</h3></label>
    
    <form name="obraSocialForm" novalidate>
    	
      <p>Nombre:<br>
	  <input class="form-control"  type="text" name="nombre" ng-model="obraSocial.nombre" required>
	  <span style="color:red" ng-show="!obraSocial.nombre">
	  <span ng-show="obraSocialForm.nombre.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
	  
	  
      <p>C&oacute;digo:<br>
	  <input class="form-control"  type="text" name="codigo" ng-model="obraSocial.codigo" required>
	  <span style="color:red" ng-show="!obraSocial.codigo">
	  <span ng-show="obraSocialForm.codigo.$error.required">Por favor complete el campo.</span>
	  </span>
	  </p>
      
    	<input type="submit" class="btn btn-primary" ng-click="agregarObraSocial()" value="Guardar Obra Social" 
    	ng-keypress="($event.charCode==13)? agregarObraSocial() : return"
		ng-disabled="obraSocialForm.codigo.$error.required ||  
		obraSocialForm.nombre.$error.required">
     </form> 
	</p></p>
    
</div>