    <div ng-controller="KitchenSinkCtrl as vm">


  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Anterior
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Hoy
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Proximo
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Dia</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <br><br><br>

	<div>
		 <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo" ng-click="vm.crearPacienteSimple()">Agregar Paciente</button>
	</div>
	  <div id="demo" class="collapse">
		<form name="addPacienteSimple"  ui-keypress="{13:'vm.agregarPacienteSimple()'}" novalidate>
			
			<div class="col-md-12" >
					<div class="col-md-3"> Nombre: <input type="text" class="form-control"    height="5px" ng-model="vm.pacienteTemp.nombre" required></div>
					<div class="col-md-3"> Apellido <input type="text" class="form-control"    height="5px" ng-model="vm.pacienteTemp.apellido" required></div>
					<div class="col-md-3"> Dni: <input type="number" class="form-control"     height="5px" ng-model="vm.pacienteTemp.dni" required min="1000000" max="1000000000" >
			</div>
							
			<div class="col-md-3" >
				<br>
				<button class="btn btn-primary" ng-click="vm.agregarPacienteSimple()"  ng-disabled="" >Agregar</button>
			</div>
			</div>		
	   </form>
	</div>
	
	  <br><br><br>
	
			<div ng-show="vm.verSeleccionado" class="alert alert-info" role="alert">
				<label>NOMBRE:{{vm.pacienteSeleccionado.nombre}}  {{vm.pacienteSeleccionado.apellido}}, DNI: {{vm.pacienteSeleccionado.dni}} </label>
			</div>
	
  <br><br><br>



  <h3 id="event-editor">
    Editar Turnos
    <button
      class="btn btn-primary pull-right"
      ng-click="vm.addEvent()">
      Agregar Nuevo Turno
    </button>
    
    <!--
   
    <button
      class="btn btn-primary pull-right"
      ng-click="vm.guardarEditados()">
     Save
    </button>
     -->
    
    <div class="clearfix"></div>
  </h3>

	

  <table class="table table-bordered">

    <thead>
      <tr>
      	<th class="col-md-3 col-sm-3">Nombre,Apellido y Dni de Paciente</th>
        <th class="col-md-3 col-sm-3">Observaci&oacute;n</th>
        <th class="col-md-3 col-sm-3">Hora de Inicio</th>
        <th class="col-md-3 col-sm-3">Hora de Fin</th>
        <th class="col-md-3 col-sm-3">Acciones</th>
      </tr>
    </thead>

    <tbody>
    
      <tr ng-repeat="event in (vm.eventsTable) track by $index"> 
      	<td class="col-md-3 col-sm-3">      	
      	  <md-content class="md-padding" ng-show="(event.datosPaciente == '') || (event.datosPaciente == null)" >
    		<form ng-submit="$event.preventDefault()">
      		<md-autocomplete
	          ng-disabled="vm.isDisabled"
	          md-selected-item="event.selectedItem"
	          md-search-text-change="vm.searchTextChange(vm.searchText)"
	          md-search-text="event.searchText"
	          md-selected-item-change="vm.selectedItemChange(item, event)"
	          md-items="item in vm.querySearch(event.searchText)"
	          md-item-text="item.display"
	          md-min-length="1"
	          placeholder="nombre, apellido de paciente">
        
		        <md-item-template>
		          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
		        </md-item-template>
		        <md-not-found>
			          No se encontro ningun paciente con el valor: "{{vm.searchText}}".
	        	</md-not-found>
      		</md-autocomplete>
    </form>      	
  </md-content>
    <label ng-show="!(event.datosPaciente == '') || !(event.datosPaciente == null)">
      	 {{event.datosPaciente.split(',')[0]}}
		 <br>
		 {{event.datosPaciente.split(',')[1]}}      	 
      	 </label>

      	</td>
        <td class="col-md-3 col-sm-3">
          <input
            type="text"
            class="form-control"
            ng-model="event.title"  placeholder="Observacion">
        </td>
        <td class="col-md-3 col-sm-3">
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.startsAt"
              is-open="event.startOpen"
              close-text="Cerrar"
              current-text="Hoy"
              clear-text="Limpiar">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.startsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <td class="col-md-3 col-sm-3">
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.endsAt"
              is-open="event.endOpen"
              close-text="Cerrar"
              current-text="Hoy"
              clear-text="Limpiar">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.endsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <td class="col-md-3 col-sm-3">
          <button
            class="btn btn-danger"
            
            ng-click="vm.eliminarTurnos($index, 1)">
            Borrar
          </button>
        <button
            class="btn btn-success"
            ng-click="vm.guardarEditados($index, 1, event)">
            Guardar
          </button>
        </td>
      </tr>
    </tbody>

  </table>  
  
</div>
