      <div class="datepickerdemo" ng-controller="dateController as ctrl" layout="column" ng-cloak>
      
     <form name="pacienteForm" novalidate>
    
      <label for="pacienteNombre" class="ng-scope">Nombre</label><br />
      <input name="pacienteNombre" type="text" ng-model="paciente.nombre" ng-model-options="{ updateOn: 'blur' }" required />  
      <br />
      
      <label for="pacienteApellido" class="ng-scope">Apellido</label><br />
      <input name="pacienteApellido" type="text" ng-model="paciente.apellido" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteDireccion" class="ng-scope">direccion</label><br />
      <input name="pacienteDireccion" type="text" ng-model="paciente.direccion" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteAnios" class="ng-scope">años</label><br />
      <input name="pacienteAnios" type="text" ng-model="paciente.anios" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
     
      <label for="pacienteObraSocial" class="ng-scope">Obra Social</label><br />
      <input name="pacienteObraSocial" type="text" ng-model="paciente.obraSocial" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteDNI">DNI</label><br />
      <input name="pacienteDNI" type="text" ng-model="paciente.DNI" ng-model-options="{ updateOn: 'blur' }" required />
      <br />      
      
      
         <md-content>
            <h4>Fecha Nacimiento</h4>
            <md-datepicker 
               ng-model="myDate" 
               md-placeholder="Enter date"></md-datepicker>
           
         </md-content>
         
         
        <br /><br />
    	<input type="submit" ng-click="agregarPerfil()" value="Save" />
           
         </form>
         
         <pre>paciente = {{ paciente | json  }} </pre>
         <pre>myDate = {{ myDate | json  }} </pre>
         <pre>userRet = {{ userRet  }} </pre>
          
	   </div>