<!DOCTYPE html>
<html>
<head>

<link rel="shortcut icon" href="favicon.ico" >
<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2"
	rel="stylesheet"
	href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="css/iconselect.css" >

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdn.rawgit.com/craftyjs/Crafty/testing/dist/crafty-min.js"></script>
	<script type="text/javascript" src="js/iconselect.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/getPacienteService.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	
	
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<script src="toaster.js"></script>
	<link href="toaster.css" rel="stylesheet" />

<title>Historias Clinicas</title>
</head>
<body class="container" ng-app="gestorOdont">

	<label><h3>Historias Clinicas</h3></label>
	
		<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
		<div ng-controller="getPacienteService">
		<div>
			<label>Ingresar Nombre: <input type="text"
				class="form-control" ng-model="nombreBsqd" required>
				<button class="btn btn-primary" ng-click="buscarPorNombre()"
					ng-disable="{{nombreBsqd != null}}">Buscar</button>
			</label>
        	

		</div>

		<br>
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Ficha Paciente Encontrado</div>
			<div class="panel-body"></div>
			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item"><b>Nombre:</b> {{paciente.nombre}}</li>
				<li class="list-group-item"><b>Apellido:</b>
					{{paciente.apellido}}</li>
				<li class="list-group-item"><b>DNI:</b> {{paciente.dni}}</li>
				<li class="list-group-item"><b>Direccion:</b> {{
					paciente.direccion}}</li>
				<li class="list-group-item"><b>Fecha Nacimiento:</b> {{
					paciente.fechaNac | date : 'dd/MM/y'}}</li>
				<li class="list-group-item"><b>Alta:</b> {{
					paciente.ficha.fechaAlta | date :  "dd/MM/y" }}</li>
				<li class="list-group-item"><b>Observaciones:</b> {{
					paciente.ficha.observaciones }}</li>


			</ul>
		</div>

		<div class=""
			ng-repeat="cuadrante in paciente.ficha.odontograma.cuadrantes ">
			<div  style="float:left" class="col-sm-5">
				<div ng-repeat="diente in cuadrante.dientes">
					<div diente data-estado="{{diente.idEstadoDiente}}"
						data-posicion="{{diente.posicionCuadrante}}"
						data-idcuadrante="{{cuadrante.idTipoCuadrante}}" data-iconos="{{icons}}">
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>