<html lang="en" >
   <head>
   	  <link rel="shortcut icon" href="favicon.ico" >
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      
      <script type="text/javascript" src="js/addProfile.js"></script>
	  <script type="text/javascript" src="js/controller.js"></script>
      
      <style>
         .datepickerdemo md-content {
            padding-bottom: 200px; 
         }
        .datepickerdemo .validation-messages {
            font-size: 11px;
            color: darkred;
            margin: 10px 0 0 25px; 
         }
      </style>
   </head>
   <body ng-app="firstApplication"> 
      <div class="datepickerdemo" ng-controller="dateController as ctrl" layout="column" ng-cloak>
      
     <form name="pacienteForm" novalidate>
    
      <label for="pacienteNombre" class="ng-scope">Nombre</label><br />
      <input name="pacienteNombre" type="text" ng-model="paciente.nombre" ng-model-options="{ updateOn: 'blur' }" required />  
      <br />
      
      <label for="pacienteApellido" class="ng-scope">Apellido</label><br />
      <input name="pacienteApellido" type="text" ng-model="paciente.apellido" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteDireccion" class="ng-scope">direccion</label><br />
      <input name="pacienteDireccion" type="text" ng-model="paciente.direccion" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteAnios" class="ng-scope">años</label><br />
      <input name="pacienteAnios" type="text" ng-model="paciente.anios" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteFechaNac" class="ng-scope">Fecha de nacimiento</label><br />
      <input name="pacienteFechaNac" type="text" ng-model="paciente.fechaNac" ng-model-options="{ updateOn: 'blur' }" required />
      <br />

      <label for="pacienteObraSocial" class="ng-scope">Obra Social</label><br />
      <input name="pacienteObraSocial" type="text" ng-model="paciente.obraSocial" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      
      <label for="pacienteDNI">DNI</label><br />
      <input name="pacienteDNI" type="text" ng-model="paciente.DNI" ng-model-options="{ updateOn: 'blur' }" required />
      <br />      
      
      
         <md-content>
            <h4>Standard Date Picker</h4>
            <md-datepicker 
               ng-model="myDate" 
               md-placeholder="Enter date"></md-datepicker>
           
         </md-content>
         
         
        <br /><br />
    	<input type="submit" ng-click="agregarPerfil()" value="Save" />
           
         </form>
          
	   </div>
   </body>
</html>
